<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title color="dark">Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="home()" color="dark" item-start fill="outline" class="first-btn">
    Homepage
  </ion-button>
    <ion-card>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label (click)="home()">Homepage</ion-label>
          </ion-item>
          <ion-item>
            <ion-label (click)="dashboard()">Dashboard</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

</ion-content>
