<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button color="danger"></ion-back-button>
    </ion-buttons>
    <ion-title>Bible App</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card-content>
    <ion-button color="medium" size="full">Old Testament</ion-button>

  </ion-card-content>
  <app-old-testaments [hasHeader]="true"  verse="1" verseText="Nang pasimula ay nilikha ng Diyos ang langit at ang lupa;[a]"></app-old-testaments>

</ion-content>
