<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="menu()"><ion-icon name="menu-outline"></ion-icon>Menu</ion-button>
      <!-- <ion-back-button color="danger"></ion-back-button> -->
    </ion-buttons>
    <ion-title color="dark" (click)="home()">Genesis 1 <ion-icon name="caret-down-outline"></ion-icon></ion-title>

  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card-content>
    <ion-button color="medium" size="full">Old Testament</ion-button>

  </ion-card-content>
  <app-old-testaments [hasHeader]="true"  verse="1" verseText="Nang pasimula ay nilikha ng Diyos ang langit at ang lupa;[a]"></app-old-testaments>

</ion-content>
