
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-item>
        <ion-input placeholder="Search"><ion-icon name="search-outline"></ion-icon></ion-input>
      </ion-item>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col>
        <h4 style="float: left; padding-left:10px;">Old Testament</h4>
        <ion-virtual-scroll [items]="oldTestamentItems">
          <ion-card *virtualItem="let item; let itemBounds = bounds;">
          <ion-card-header>
            <ion-card-title>{{ item.name }}</ion-card-title>
          </ion-card-header>
          <!-- <ion-card-content>{{ item.content }}</ion-card-content> -->
          </ion-card>
        </ion-virtual-scroll>
      </ion-col>
      <ion-col>
        <h4 style="float: left; padding-left:10px;">New Testament</h4>
        <ion-virtual-scroll [items]="newTestamentItems">
          <ion-card *virtualItem="let item; let itemBounds = bounds;">
          <ion-card-header>
            <ion-card-title>{{ item.name }}</ion-card-title>
          </ion-card-header>
          <!-- <ion-card-content>{{ item.content }}</ion-card-content> -->
          </ion-card>
        </ion-virtual-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>


	<!-- <ion-card *ngFor="let book of books; let index = index">
		<ion-card-content>
			<h2>{{ book }} </h2>
		</ion-card-content>
	</ion-card> -->

</ion-content>
