<ion-header>
  <ion-toolbar color="success">
    <ion-title class="ion-text-center">Genesis 1</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-old-testaments
    verse="1"
    verseText=" Nang pasimula ay nilikha ng Diyos ang langit at ang lupa;[a]">
  </app-old-testaments>
  <app-old-testaments
    verse="2"
    verseText=" ang lupa ay walang hugis o anyo. Dilim ang bumabalot sa kalaliman at kumikilos ang Espiritu ng Diyos[b] sa ibabaw ng tubig.">
  </app-old-testaments>
  <app-old-testaments
    verse="3"
    verseText=" Sinabi ng Diyos: “Magkaroon ng liwanag!” At nagkaroon nga.">
  </app-old-testaments>
</ion-content>
